*{
				margin:0; 
				padding:0; 
				box-sizing:border-box;
			}
			
			a{
				text-decoration:none;
			}
			
			address{
				text-style:normal;
			}
			
			img{
				border:none;
			}
			
			body{
				font-family: Noto Sans KR, sans-serif;
				font-size: 0.75em;
			}
			
			ul,li{
				list-style: none;
			}
			
			
		/*--------------section통합-----------------*/
section{position: relative; overflow: hidden;}

#section1,#section2,#section3,#section4,#section5{
	background-size:cover ;
	text-align:center; 	
}



/*--------------section세로슬라이드-----------*/
/*--------------section1-----------------*/
#section1{
background: url(../img/info1.jpg) no-repeat center;
}


#section1 div{
	position: absolute;
	bottom: 130px;
	left: 31%;
}

#section1 div button{
	
	width: 350px;
	height: 60px;
	border: 2px solid #fff;
	color: #fff;
	background: transparent;
	cursor: pointer;
	line-height: 58px;
	margin-right: 50px;
	font-size: 17px;
}

#section1 div button:hover{
	border: none;
	color: #fff;
	background: #727069;
}

/*--------------section2-----------------*/
#section2{
background: url(../img/info2.jpg) no-repeat center;
background-size:cover;
color:#fff;

}


/*#section2 h1{
position: absolute;
left:0%;
top:40%;  
opacity: 0;
transform: rotate(180deg);
transition: all 1s ease;
font-size:50px; 
} 

#section2 h1.on{ 
left:30%;
top:40%; 
opacity: 1;	
transform: rotate(0deg);
transition: all 1s ease; 
}*/



/*--------------section3-----------------*/
#section3{
background: url(../img/info3.jpg) no-repeat center;
color:#000;
background-size:cover;
font-size:50px;
}
/*#section3 p{position: absolute;
left:50%;
top:47%}*/

/*#section3 div{
position: absolute;
left:45%;
top:40%;
background: #fff;
opacity: 0.5;
width: 300px;
height: 300px;
transform: rotate(360deg);
transition: all 1s ease;
}

#section3 div.on{
transform:rotate(0deg);
transition: all 1s ease;
	
}*/


/*--------------section4-----------------*/
#section4{
position: relative;
background: url(../img/info4.jpg) no-repeat center;
background-size:cover;
font-size:50px;
color:#fff;}

/*#section4 div{
position: absolute;
left:25%;
top:30%;
background: red;
opacity: 0.5;
width: 1000px;
height: 500px;
transform:rotateX(180deg);
transition: all 1s ease;
}

#section4 div.on{
transform:rotateX(0deg);
transition: all 1s ease;
}

#section4 p{
position: absolute;
left:45%;
top:40%
	
}
/*--------------section5-----------------*/
#section5{
background: url(../img/info5.jpg) no-repeat center;
text-align:center;
font-size:100px;
}

#section5 div{
	position: absolute;
	bottom: 130px;
	left: 42%;
}

#section5 div button{
	
	width: 300px;
	height: 60px;
	border: 2px solid #fff;
	color: #fff;
	background: transparent;
	cursor: pointer;
	line-height: 58px;
	margin-right: 50px;
	font-size: 17px;
}

#section5 div button:hover{
	border: none;
	color: #fff;
	background: #727069;
}



/*#section5 div{position: relative;
width: 900px; height: 600px; margin: 20px auto;
/*border: 1px solid #fff; */perspective:2000px;}/*원근각조절*/

/*창문열기*/
/*.sec1{position: absolute;
width:430px; height: 600px;
background: #ddd;
left:0; top:50px;
transform:rotateY(50deg);
transition: all 3s ease;
transform-origin:right center}

.sec1.on{transform:rotateY(0deg);
transition: all 3s ease;
}

.sec2{position: absolute;
width: 430px; height: 600px;
background: #ddd;
right: 0; top:50px;
transform:rotateY(-50deg);
transition: all 3s ease;
transform-origin:left center}

.sec2.on{transform:rotateY(0deg);
transition: all 3s ease;
}*/


		
/*----------------------------------------*/


/*--------------pannel----------------------*/
.pannel{position: absolute;
width: 400%;
height: 100%;}
/*가로슬라이드 전체*/

.pannel p{text-shadow: 1px 2px 0px #333;
padding-top:30px;}

.pannel img{
	padding-top:50px;/*회전영역줄수있다*/
text-align:center;
animation: st 5s linear infinite;}

@keyframes st{
		 0%{transform:rotate(0deg); }
		 100%{transform:rotate(360deg)}
		}
		
/*원돌려*/


.pannel li{width: 25%; 
height: 100%;
 float:left;
text-align:center; 
font-size:50px;
color:#fff;
}
/*각각가로슬라이드*/

.pannel li:nth-child(1){
background: url(img/main.jpg)  center;
background-size: cover;
}
.pannel li:nth-child(2){
background: url(img/main1.jpg)center;
background-size: cover;}
.pannel li:nth-child(3){
background: url(img/main2.png)center;
background-size: cover;}
.pannel li:nth-child(4){
background: url(img/main5.jpg)center;
background-size: cover;}


/*------------가로상단슬라이드페이저----------------------------------*/
.pannel_navi{position: absolute;
 top:100px;
 left:100px;
z-index:999}
.pannel_navi li{float:left;}
.pannel_navi li a{display:block; 
width: 20px; 
height: 5px;
margin-left: 5px; 
background: yellow;
transition:all .5s ease;
border-radius:6px;}

 .pannel_navi li a.on{background: blue;
 width: 60px;}
 
/*----------------------------------------------*/

/*--------------gnb세로슬라이드페이저---------------------*/
 .gnb{position: fixed;
 right:30px;
 top:50%;

 z-index:999}
 
 .gnb li a{display:block;
 width: 5px;
 height: 5px;
 border-radius:10px;
 background: #727069;
 margin-bottom: 10px;
 transition:all .5s ease;}
 
 .gnb li a.on{background: #727069;
 height: 60px;}
	
		
		
			
		
			
			
				
			
				
				
				
				
				
				
			
			
			
				
			
			