*{
				margin:0; 
				padding:0; 
				box-sizing:border-box;
			}
			
			a{
				text-decoration:none;
			}
			
			address{
				text-style:normal;
			}
			
			img{
				border:none;
			}
			
			ul{
				list-style: none;
			}
			
			body{
				font-family: Noto Sans KR, sans-serif;
				font-size: 0.75em;
			}
			
			#wrap{
				margin:0 auto;
			}
			
			header{
				width:100%;
				height:180px;
				margin:0 auto;
				position:fixed;
				left:0; 
				top:0;
				z-index:9999;
				text-align: center;
			}
			
			div#top_container{
				width: 100%;
				height:130px;
				background: #fff;
				position: relative;
				border-bottom: 1px solid #eee;
			}
			
			div#top_container h1{
				position:absolute;
				left:50%; 
				top:50%;
				margin-left:-49.5px; 
				margin-top:-39.5px;
			}
			
			div#top_container h1 img{
				vertical-align: bottom;
			}
			
			div#top_container h1 a{
				display: block;
			}
			
			
			
			div#top_container nav.right_util{
				width: 23%;
				position: absolute;
				left: 15%;
				bottom: 30%;
				overflow: hidden;
			}
				
			
			
			nav.right_util div.news{
				width: 100%;
				position: relative;
				top: 10%;
				border: 1px solid #eee;
				border-radius: 5px;
				font-size: 1.1em;
			}
				
			div.news div.open-event{
				width: 350px;
				height: 30px;
				overflow: hidden;/*중요*/
				position: relative;
			}
			
			div.open-event ul.notice-list{
				width: 100%;
				height: 100%;
				position: absolute;
			}
			
			ul.notice-list li{
				padding-left: 10px;
				height: 30px;
			}	
			
			ul.notice-list li a{
				padding-left: 10px;
				text-align: left;
			}	
			
			ul.notice-list li a{
				width: 250px;
				line-height: 28px;
				display: block;
				float: left;
				color: #89846d;
				padding-left: 10px;
				text-align: left;
			}
			
			ul.notice-list li span.data{
				width: 80px;
				position: absolute;
				right: 2px;
				line-height: 28px;
				padding-left: 10px;
				color: silver;
			}
			
			
			div.open-event ul.notice-list li.hid{
				position: relative;
				padding-left: 10px;
				height: 30px;
			}
			
			
			div.open-event ul.notice-list li.hid a{
				display: inline-block;
				width: 250px;
				line-height: 28px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			
			div.open-event ul.notice-list li.hid span.date{
				display: inline-block;
				position: absolute;
				left: 260px;
				top: 0;
				line-height: 28px;
				width: 80px;
				padding-left: 5px;
			}
			
			
			
			
			div.news div.control{
				position: absolute;
				top: 0;
				right: 0;
				line-height: 28px;
				padding-right: 10px;
			}
			
			div.news div.control a{
				color: #333;
			}
			
			div.news div.control a.on{
				color: #ee6e59;
			}
			
			
			
			
			

			div#top_container nav.left_util{
				position:absolute;
				right: 15%;
				bottom: 35%;
				overflow: hidden;
			}

			div#top_container nav.left_util ul{
				width: 100%;
				float: left;
			}

			div#top_container nav.left_util ul li{
				float: left;
				margin-right: 20px;
			}
			
			div#top_container nav.left_util ul li:last-child{
				margin-right: 0;
			}
			
			
			div#top_container nav.left_util ul li a{
				display: block; 
				color: #9E9E9E; 
			}

			div#top_container nav.left_util ul li img{
				vertical-align: middle;
				width: 85%;
			}

			nav.main_menu{
				width:100%;
				height: 50px;
				position: relative;
				background: #fff;
				border-bottom: 1px solid #eee;
			}
			
			nav.main_menu ul.main{
				width:80%;
				margin: 0 auto;
				overflow: hidden;
			}
			
			nav.main_menu ul.main>li{
				width:20%;
				float:left;
				list-style:none;
				font: 17px Noto Sans KR, sans-serif, NanumGothic, Arial;
			}
			
			nav.main_menu ul.main>li>a{
				line-height: 49px;
				display: block;
				color: #545f45;
			}
			
			nav.main_menu ul.main>li>a>span.mm{
				position: relative;
			}
			
			
			nav.main_menu ul.main>li>a>span.mm:after{
				position: absolute;
				bottom: -15px;
				left: 50%;
				content: "";
				width: 0;
				height: 5px;
				display: block;
				background: #7d9d3e;
				margin: 3px auto;
				transition: width .3s ease-in-out;
				transform: translateX(-50%);
				
			}
			nav.main_menu ul.main>li>a:hover span.mm:after{
				width: 100%;
			}
			
			nav.main_menu ul.main>li>ul.subwrap{
				width: 100%;
				height: 230px;
				position: absolute;
				top: 50px;
				left: 0;
				background: #fff;
				overflow: hidden;
				display: none;
				box-shadow: 0 1px 2px -1px rgba(113,114,87,.3);				
			}
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.sub{
				width: 80%;
				height: 230px;
				overflow: hidden;
				margin: 0 15%;
				text-align: left;
				font-size: .8em;
				position: relative;
				
			}
			
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.sub>ul{
				width: 15%;
				float: left;
				margin-top: 20px;
			}
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.sub>ul li{
				margin-left: 20px;
			}
			
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.sub>ul.productsubsub{
				width: 15%;
				position: absolute;
				top: 0;
				left: 20%;
				margin-top: 10px;
			}
			
			
			
		nav.main_menu ul.main>li>ul.subwrap>li>ul.about>ul:last-child{
				margin-left: 5%;
			}
			
			
			
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.about>ul li.aboutimag{
				position: absolute;
				top: 60px;
				right: 12%;
			}
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.about>ul li img{
				vertical-align: bottom;
				width: 90%;
			}
			
			
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.sub>ul>li>a{
				display: block;
				color: gray;
				line-height: 35px;
			}
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.sub>ul>li>a:hover{
				color: #d25b52;
			}
			
			
			
			nav.main_menu ul.main>li:hover>ul.subwrap{
				display: block;
			}
			
			
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.product>ul>li.pbana{
				position: absolute;
				top: 70px;
				right: 2%;
			}
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.product>ul>li.pbana img{
				width: 80%;
				vertical-align: bottom;
			}
			
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.sub>ul.recipesubsub{
				width: 15%;
				position: absolute;
				top: 0;
				left: 41%;
				margin-top: 10px;
			}
			
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.recipe>ul>li.recimag{
				position: absolute;
				top: 60px;
				right: 130px;
			}
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.recipe>ul>li.recimag img{
				width: 70%;
				vertical-align: bottom;
			}
			
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.sub>ul.eventsubsub{
				width: 15%;
				position: absolute;
				top: 0;
				right: 24%;
				margin-top: 10px;
			}
			
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.event>ul>li.evenimag{
				width: 53%;
				position: absolute;
				top: 50px;
				left: 2%;
			}
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.event>ul>li.evenimag img{
				width: 30%;
				margin-left: 13px;
				vertical-align: bottom;
				
			}
			
			
				
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.sub>ul.comusubsub{
				width: 15%;
				position: absolute;
				top: 0;
				right: 5%;
				margin-top: 10px;
			}
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.comu>ul>li.comuimag{
				position: absolute;
				top: 40px;
				left: 15%;
			}
			
			
			nav.main_menu ul.main>li>ul.subwrap>li>ul.comu>ul>li.comuimag img{
				width: 90%;
				vertical-align: bottom;
			}
			
			div#searchbox{
				width: 100%;
				display: none;
			}
			
			div#searchbox>ul.searchwrap{
				width: 60%;
				position: absolute;
				top: 0;
				left: 15%;
				background: #fff;
				overflow: hidden;
				/*border: 1px solid silver;*/
			}
			
			div.loginbox{
				display: none;
			}
			
			div.loginbwrap{
				width: 170px;
				height: 23px;
				position: absolute;
				bottom: 65px;
				right: 14.5%;
			}
			
			div.loginbox ul{
				width: 100%;
				background: #fff;
				border: 1px solid silver;
				border-radius: 10px;
				overflow: hidden;
			}
			
			div.loginbox ul li{
				width: 50%;
				float: left;
				line-height: 21px;
				text-align: center;
				border-right: 1px dashed silver;
				font-size: .7em;
			}
			
			div.loginbox ul li:last-child{
				border-right: none;
			}
			
			div.loginbox ul li a{
				display: block;
				color: #545f45;
			}
			
			
			
			div.loginbox ul li a:hover{
				background: #eee;
			}
				
				
				
			
			ul.searchwrap ul form label{
				display: none;
			}
			
			ul.searchwrap ul form input#ser{
					width: 100%;
					height: 65px;
					margin-top: 40px;
					border: none;
					border: 1px solid silver;
					border-radius: 50px;
					font-size: 1.7em;
					padding-left: 20px; 
					outline: none;
					position: relative;
			}
			
			ul.searchwrap ul form button.serbtn{
					width: 23px;
					height: 23px;
					background: url(../img/serbtn.png) no-repeat center;
					background-size: cover;
					position: absolute;
					top: 60px;
					right: 30px;
					cursor: pointer;
					border: none;
			}
			
			input#ser::placeholder{
					color: #eee;
			}

			input#ser::-webkit-search-cancel-button{
					display: none;
			}	
			
			
			
			
			
			div#joinarea{
				margin-top: 230px;
				
			}
			
			div#joinarea h1{
				text-align: center;
				margin-bottom: 3%;
				letter-spacing: 2px;
				font-size: 2.5em;
				font-weight: 400;
				color: #5e7f43;
			}
			
			div.joinstep{
				width: 35%;
				margin: 0 auto;
				font-size: 1.1em;
			}
			
			div.joinstep ul{
				width: 100%;
				margin: 0 auto;
				overflow: hidden;
				margin-bottom: 7%;
			}
			
			div.joinstep ul li{
				width: 14.285%;
				float: left;
				text-align: center;
			}
			
			div.joinstep ul li>p{
				font-size: 1.1em;
				color: #000;
				margin: 10% 0;
			}
			
			div.joinstep ul li>p span{
				font: 1.1em Noto Sans KR, sans-serif;
				color: #9c6013;
			}
			
			div.joinstep ul li:nth-child(2){
				margin-top: 30px;
				color: #e2e2e2;
				font-size: 1.2em;
			}
			
			div.joinstep ul li:nth-child(4){
				margin-top: 30px;
				color: #e2e2e2;
				font-size: 1.2em;
			}
			
			div.joinstep ul li:nth-child(6){
				margin-top: 30px;
				color: #4e7c35;
				font-size: 1.2em;
			}
			
			div.joinstep ul li img{
				vertical-align: bottom;
				width: 70%;
			}
			
			div.joinment1{
				width: 100%;
				margin: 0 auto;
				margin-bottom: 7%;
				overflow: hidden;
			}
			div.formwrap{
				width: 40%;
				margin: 0 auto;
			}
				
			
			div.formwrap h2{
				font-size: 1.9em;
				border-top: 1px solid #e2e2e2;
				padding: 7% 0;
				color: gray;
				font-weight: 400;
			}
			
			div.formwrap>h2>span{
				font-size: .5em;
				color: #c62d1e;
				margin-left: 10px;
			}
			
			div.formwrap form{
				width: 100%;
				font-size: 1.2em;
				padding-left: 65px;
				overflow: hidden;
				
			}
			
			form fieldset{
				width: 100%;
				margin: 10px 0;
				border: none;
			}
			
			form legend{
				font: bold 1.2em Noto Sans KR, sans-serif;
				color: #5e7f43;
			}
			
			form ul li{
				line-height: 20px;
				margin: 10px 0;
			}
			
			form ul li span{
				color: gray;
				font-size: .9em;
			}
			
			form label{
				line-height: 28px;
			}
			
			form label.reg{
				 width: 20%;
				 line-height: 28px;
				 /*border: 1px solid orange;*/
				 text-align: left;
				 float: left;
				vertical-align: bottom;
			} 

			form label.reg>span{
				color: #c62d1e;
			}				
			
			form input{
				 width: 70%;
				 line-height: 30px;
				 margin-left: 1%;
				 vertical-align: top;
				 color: silver;
				 padding-left: 5px;
			}
			
			
			form button{
				 width: 80px;
				 font-size: .8em;
				 cursor: pointer;
				 border: none;
				 background: #5e7f43;
				 line-height: 34px;
				 border-radius: 3px;
				 color: #fff;
				 cursor: pointer;
			}
			
			form select{
				width: 27%;
				height: 34px;
				margin-left: 1%;
			}
			
			label.mail_1{
				font-size: 0.9em;
			}
			
			label.mail_1 input{
				width: 5%;
				vertical-align: middle;
				margin-left: 21%;
			}
			
			label.mail_1 button{
				vertical-align:
			}
			
			li.ad_list input#uaddress:nth-child(2){
				margin-bottom: 5px;
				width: 30%;
			}
			
			li.ad_list input#uaddress:nth-child(5){
				margin-bottom: 5px;
				margin-left: 21%;
			}
			
			li.ad_list input#uaddress:nth-child(6){
				margin-left: 21%;
			}
			
			form input#userid{
				width: 45%;
			}
			
			form input#uphone{
				width: 20%;
			}
			
			li.mail_list>select{
				width: 23.5%;
				margin-left: 0;
			}
			
			li.jbirth>select{
				width: 22.3%;
			}
			
			li.jbtn{
				margin-left: 33%;
				margin-top: 20px;
			}
			
			li.jbtn button{
				margin-right: 10px;
			}
			
			form input#umail{
				width: 43.6%;
			}
			
			li.wm input#men, input#women{
				width: 5%;
				position: relative;
				top: 8px;
			}
			
			form input#uagree{
				width: 5%;
				position: relative;
				top: 4px;
				margin-left: 12%;
			}
			
			li.agree{
				font-size: 0.9em;
				margin-top: 10%;
			}
			
			#wrap3{
				font-size: .9em;
				margin-top: 20px;
			}
			
			footer{
						width:100%;
						background: #2e4634;
						color: #fff;
						padding: 5% 0;
						font-size: 1.2em;
					}
			
			footer h3{
						width: 80%;
						color: #fff;
						padding: 2% 0 1% 0;
						margin:0 auto;
						font-weight: 570;
					}
					
			footer h3 img{
						vertical-align: middle;
					}
					
			footer .footer_1{
						width: 80%;
						overflow: hidden;
						margin: 0 auto;
					}
					
			.footer_1 p{
						width: 80%;
						font: 40 13px Noto Sans KR, NanumGothic, sans-serif, Arial;
						float: left;
					}
					
			footer div.footer1_1{
						width: 80%;
						float: left;
					}
					
			footer div.footer1_1 p{
						width: 10%;
						float: left;
						margin-right: 4%;
						padding: 1% 0;
						font-size: 1em;
					}
					
			footer div.footer1_1 a{
						display: block;
						color: #fff;
					}
					
			footer div.footer1_2 p{
						width: 100%;
						float: left;
						margin-right: 4%;
						padding: 1% 0 3% 0;
					}
					
			div.footer_1 div.sns{
						width: 20%;
						float: right;
						text-align: right;
					}
					
			div.footer_1 .sns img{
						vertical-align: top;
						margin-right: 5%;
					}
					
					
			footer div.topbutton{
						position: fixed;
						right: 1%;
						bottom: 30px;
						z-index: 999;
					}
					
			footer div.topbutton img{
						vertical-align: bottom;
			}
					
	div.loginwrap{
		background: transparent;
		z-index: 100;
	}
	
	div.modal{
		position: fixed;
		width: 0;/*모달모양이 없다가 사용자 클릭하면 나오게*/
		height: 0;/*width:0 height:0 으로 모양 안보이다가*/
		overflow: hidden;
		z-index: 100;
		margin: 0 auto;
	}
	
	.modal:target{ /*사용자가 배경잡으면 나옴*/
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0; right: 0; top: 0; bottom: 0;
		background: rgba(0, 0, 0, .8);
		z-index: 9999;
	}
	.modal:target .con{
		background: #fff;
		border-radius: 8px;
		box-shadow:0 0 0 5px rgba(0, 0, 0, .25);
		width: 500px;/*모달사이즈*/
		height: 700px;
		padding-top: 35px;
		position: absolute;
		top: calc(50% - 350px); /* 사이공간띄우세요 반사이즈뺌*/
		left: calc(50% - 250px); /* 사이공간띄우세요 반사이즈뺌*/
		z-index: 999;
	}
	.modal:target .con input{
		border: 1px solid #578b42;
		width:  400px;
		line-height: 50px; 
		margin: 5px;
		padding-left: 8px; 
		font-size: 1.5em;
	}
	.modal:target .close{
		position: absolute;
		top: -12px;
		right: -12px;
	}
	
	div.modal:target .close a{
		width: 60px;
		height: 60px;
		display: block;
		/*background: #578b42;
		border: 2px solid #fff;
		border-radius: 50%;*/
		text-indent: -9999em;
	}/*클로즈버튼*/

	div.modal:target .close:after{
		content:'×';
		position: absolute;
		top:30px;
		left: -15px;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 29px;
		color: #b9bca5;
		font-size: 35px;
		font-weight: light;
		pointer-events: none;
		z-index: 9999;
	}/*중요 클로즈버튼 연동*/
	
	.modal:target .con h1{
		text-align: center;
		margin-bottom: 15px;
		margin-top: 5px;
	}
	
	.modal:target .con h1 img{
		vertical-align: bottom;
	}
	
	.modal:target .con h2{
		color: #999;
		font-size: 2.5em;
		font-weight: 600;
		margin-top: 5px;
		text-align: center;
		letter-spacing: 1px;
	}
	
	.modal:target .con li{
		font-size: .8em;
	}
	
	.modal:target .con ul li label.tit{
		display: none;
	}
		
	.modal:target .con fieldset{
			margin-top: 2%;
			margin: 3% 0 5% 0;
			text-align: center;
			border: 0;
	}
	
	.modal:target .con p{
		text-align: center;
	}
	
	.modal:target .con p img{
		vertical-align: bottom;
	}
	
	div.lobtn{
		text-align: center;
	}
		
	div.lobtn button{
		width: 400px;
		background: #578b42;
		border: none;
		line-height: 50px;
		border-radius: 3px;
		color: #fff;
		cursor: pointer;
		font-size: 1.5em;
		letter-spacing: 1px;
	}
		
	.modal:target .con ul li.checkid{
		text-align: left;
		font-size: 1.3em;
	}	
		
	.modal:target .con ul li.checkid>input#idcheck{
		width: 14px;
		margin-left: 50px;
		vertical-align: top;
	}
	
	div.snsicon{
		font-size: 1.4em;
	}
	
	div.snsicon p.snstit{
		margin-top: 40px;
	}
	
	div.snsbb{
		text-align: center;
	}

	div.snsbb img{
		width: 10%;
		vertical-align: bottom;
		margin: 4%;
		cursor: pointer;
	}
	
	div.lobtn_1{
		text-align: center;
		margin-top: 20px;
	}
	
	div.lobtn_1>p{
		margin: 5px;
		font-size: 1.4em;
	}
		
	div.lobtn_1 button{
		width: 400px;
		background: #578b42;
		border: none;
		line-height: 50px;
		border-radius: 3px;
		color: #fff;
		cursor: pointer;
		font-size: 1.1em;
		letter-spacing: 1px;
		
	}
				
				
				
				
					
					
				
			
			
				
			
				
				
					
				
					
					
					
					
				
				
			
			
			
				
			
			